DEBUG=on
SECRET_KEY=jusjusjusjsusjusjusjsususjusjsujsusjsu
DATABASE_URL=mysql://super:superlocal123@127.0.0.1:3306/uxiadb
#DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=localhost,uxiaweb3.ieti.site
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://uxiaweb3.ieti.site
CSRF_TRUSTED_ORIGINS=http://localhost:5173,https://uxiaweb3.ieti.site
