# 🐍 Python / Django
env/
venv/
uxia_virtual/

__pycache__/
*.py[cod]
*.sqlite3

# Archivos de entorno
.env
.env.example

# Archivos estáticos generados
staticfiles/
media/

# Migraciones (opcional según proyecto)
# */migrations/*
# !*/migrations/__init__.py

# 🧠 IDEs
.vscode/
.idea/

# 🟢 Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build de React
dist/
build/

# Otros
.DS_Store
