@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #faf9f6;
  --color-accent: #8b7355;
  --color-accent-dark: #5d4037;
  --color-accent-light: #d2b48c;
}

@layer base {
  body {
    @apply antialiased text-slate-800 dark:text-slate-100 bg-slate-50 dark:bg-slate-950 transition-colors duration-300;
  }
}
